@font-face {
    font-family: myFirstFont;
    src: url(/valentine_14/Be\ My\ Valentine.otf);
  }

@font-face{
    font-family: my2ndfont;
    src: url(/valentine_14/ValentineSoul.ttf);
}

@font-face{
    font-family: my3rdfont;
    src: url(/valentine_14/Valentine\ Cute.ttf);
}

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body{
    background-color: rgba(255, 213, 220, 0.967);
    margin-top: 60px
}

h1{
    font-family: my2ndfont;
    font-size: 70px;

}

img{
    margin: 20px;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.bodyB, .box-kely{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    font-family: my3rdfont;
}

/* Button part */

button{
    margin: 40px 20px 10px 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-family: myFirstFont;
    font-size: 30px;
}
.btn.no:hover{
    background-color: whitesmoke;
}

.btn.yes:hover{
    background-color: aliceblue;
}


.btn.no{
    background-color: red;
}
.btn.yes{
    background-color: yellowgreen;
}


